<!DOCTYPE html>
<html lang="en" dir="ltr">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/chat_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav_style.css') }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ChatRoom - AmritChat</title>
</head>

<body>
    <!-- navigation bar -->
    <nav id="headbar">
        <div id="nav-mobile"></div>
        <h2>ChatRoom</h2>
        <a id="logout-button" href="{{ url_for('logout') }}">Log Out</a>
    </nav>

    <div id="main-section">
        <!-- room selection -->
        <nav id="sidebar">
            <h4>ROOMS</h4>
            {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
            {% endfor %}
        </nav>

        <!-- Message area -->
        <div class="rightside-panel">
            <!-- display message -->
            <div id="display-message-section">

            </div>
            <!-- input message -->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>
            </div>

        </div>
    </div>
    <!-- Username -->
    <script type="text/javascript">
        const username = `{{ username }}`;
    </script>

    <!-- SocketIO JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <!-- Costom SocketIO JS -->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>    
</body>

</html>