<!DOCTYPE html>
<html lang="en" dir="ltr">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/form_style.css') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - AmritChat</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <p id="flash-message">{{ messages[0][1] }}</p>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>

</html>